p {
    /* 该选择器将选择所有的p元素并使用以下样式*/
    text-align: left;
    color:red;
}

h1 {/*left	左对齐（默认值，大部分语言如中文 / 英文的默认对齐方式）
right	右对齐（比如表单的右侧标签、金额数字等场景）
center	居中对齐（比如页面标题、按钮文字居中）
justify 两端对齐，最后一行无效 */
    text-align: center;
}

#idxuanze {


}
